body {
  font-family: 'Poppins', sans-serif;
}

.sidenav {
  /* margin-top: 90px; */
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  background-color: rgb(60, 28, 238);
  overflow-x: hidden;
  padding-top: 34px;
}

.sidenav a {
  padding: 6px 6px 6px 23px;
  text-decoration: none;
  margin-bottom: 40px;
  font-size: 25px;
  color: whitesmoke;
  display: block;
}

.sidenav a:hover {
  color: #111;
}

.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.body2 {
  margin-left: 192px;
}

.title {
  margin-top: 90px;
  font-size: 28px;
  text-decoration: underline;
  text-underline-offset: 2px;
  background-color: whitesmoke;
  padding: 8px 30px 1px;
}

.three-squares {
  font-size: 25px;
  font-style: italic;
  color: #111;
  text-align: center;
}

.square1,
.square2,
.square3 {
  display: inline-block;
  /* text-align: center; */
  /* padding: 2px; */
  height: 160px;
  width: 340px;
  margin: 40px 28px;
  border: 1px rgba(0, 0, 0, 0.345) solid;
  border-radius: 60px;

}

.square1 {
  background-image: url(../images/d1b416e60c46e7f6269f425c2bb8f683.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.square2 {
  background-image: url(../images/yellow-wave-background-free-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.square3 {
  background-image: url(../images/the-background-292729__480\ copy.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.text1,
.text2,
.text3 {
  padding: 30px 30px;
}

.heading4 {
  font-style: normal;
  margin-top: -5px;
  text-align: center;
  font-size: 40px;
}

.users-table {
  text-align: center;
  margin: 20px 28px;
  font-size: 20px;
}

table {
  width: 100%;

}

th {
  color: whitesmoke;
  background-color: rgb(60, 28, 238);
  border: 0px #111 solid;
  border-radius: 7px;
}

th,
td {
  padding: 10px;
}

.grey-tr {
  background-color: rgb(245, 245, 245);
  border: 4px rgb(60, 28, 238) solid;
}

caption {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 10px;
}

.button-to-add-station,
.button-to-delete-station {
  text-align: center;
  display: inline-block;
}

#add-station-button {
  margin-top: 20px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: black;
  border: 0px black solid;
  border-color: unset;
  font-size: 15px;
  padding: 15px;
}

#add-station-button:hover {
  background-color: rgb(60, 28, 238);
}

#delete-station-button {
  margin-top: 20px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: red;
  border: 0px black solid;
  border-color: unset;
  font-size: 15px;
  padding: 15px;
}

#delete-station-button:hover {
  background-color: rgb(195, 0, 0);
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  margin-bottom: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.centering {
  text-align: center;
}