body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    font-size: 14px;
}
main{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 4;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex;
    flex-flow: wrap;
    padding: 50px;
    background-color: darkblue;
    

}
.footer > *{
    flex: 1 100%;
}
.footer p{
    font-size: 30px;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}
h2{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    
    padding-left: 0;
color: white;
}
.footer li{
    line-height: 2em;
    color: white;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex;
    flex-flow: row wrap;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a {
    color: white;
}
.box p{
    font-size: 15px;
}
.footer-bottom{
    text-align: center;
    color: black;
    padding-top: 50px;

}
.footer-left p {
    padding-right: 40%;
    color: white;
    font-size: 17px;
    padding-left: 10%;

}
.socials a {
    
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;

}
.socials a i {
padding: 10px 12px;
font-size: 30px;
color: white;

}
/*@media  screen and (min-width: 600px) {
   
    
    
}
*/
.footer-right >*{
    flex: 1 0px;
}
.footer-left{
    flex: 1 0px;
}
.footer-right{
    flex: 2 0px;
}
@media (max-width : 600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}
