/* Start Main Rules */
:root {
  --main-text-color: #3409ce;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
::selection {
  background: var(--main-text-color);
  color: white;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 998px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Main Rules */



/* Start Components */
.special-heading {
  text-align: center;
}
.special-heading h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
}
.special-heading h2 span {
  color: var(--main-text-color);
}
.special-heading img {
  margin: 15px 0 10px;
}
.special-heading p {
  color: #777;
  font-size: 14px;
}
/* End Components */



/* Start Header */
.header {
  height: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  .header .text-box h1 {
    font-size: 60px !important;
  }
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 45, 57, 0.8);
}
.header video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.header .text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}
.header .text-box p {
  font-weight: 800;
  font-size: 20px;
}
.header .text-box h1 {
  margin-top: 20px;
  font-size: 90px;
  font-weight: 800;
}
.header .text-box h1 span {
  color: var(--main-text-color);
}
.header .text-box a {
  color: white;
  background-color: var(--main-text-color);
  text-decoration: none;
  padding: 12px 20px;
  display: inline-block;
  margin-top: 20px;
  transition: 0.3s;
}
.header .text-box a:hover {
  background-color: #180e9c;
}
/* End Header */


/* Start Classes */
.classes {
  padding-top: 120px;
  padding-bottom: 120px;
}
.classes .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
@media (max-width: 1000px) {
  .classes .content {
    flex-direction: column;
  }
  .classes .content .classes-sec {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .classes .content .classes-sec .class {
    display: flex;
    margin: auto;
  }
  .classes .content .classes-sec a {
    width: 90%;
  }
  .classes .content .desc-sec {
    width: 90%;
    align-self: center !important;
  }
}
.classes .content .classes-sec {
  flex-basis: 35%;
}
.classes .content .classes-sec .class {
  display: flex;
  align-items: center;
  padding: 25px 23px;
  box-shadow: 0px 0px 10px 1px #ccc;
  width: 90%;
  margin-bottom: 30px;
  cursor: pointer;
}
.classes .content .classes-sec .class.activ {
  color: var(--main-text-color);
}
.classes .content .classes-sec .class h3 {
  margin-left: 20px;
}
.classes .content .classes-sec a {
  color: white;
  background-color: var(--main-text-color);
  text-decoration: none;
  padding: 20px 60px;
  display: inline-block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}
.classes .content .classes-sec a:hover {
  background-color: #441fe7;
}
.classes .content .desc-sec {
  flex-basis: 65%;
  align-self: flex-start;
}
.classes .content .desc-sec img {
  border-radius: 4px;
  max-width: 100%;
}
.classes .content .desc-sec h3 {
  margin: 15px 0;
  font-size: 24px;
}
.classes .content .desc-sec p {
  color: #777;
  font-size: 14px;
  width: 95%;
}
.classes .content .desc-sec a {
  display: inline-block;
  color: white;
  background-color: var(--main-text-color);
  text-decoration: none;
  padding: 12px 18px;
  margin-top: 25px;
  transition: 0.3s;
}
.classes .content .desc-sec a:hover {
  background-color: #f9735b;
}
/* End Classes */


/* Start Contact */
.contact {
  padding: 200px 0;

  background-size: cover;
}
.contact .container {
  position: relative;
}
.contact .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}
.contact .text h4 {
  font-size: 70px;
  font-weight: 500;
}
.contact .text h4 span {
  color: var(--main-text-color);
}
.contact .text a {
  color: white;
  background-color: var(--main-text-color);
  padding: 12px 20px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}
.contact .text a:hover {
  background-color: #f9735b;
}
/* End Contact */

