@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
.heading span {
  color: #670cdf;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  border-radius: .5rem;
  background: #2c16f3;
  color: #fff;
  font-size: 1.0rem;
  cursor: pointer;
}
.btn:hover {
  background: #130f40;
}
.contact .row form .inputBox {
  text-align: center;
}
.contact .row  form .inputBox input  {
  width: 27%;
}
.contact .row form .inputBox input,
.contact .row form textarea {
  border: 0.1rem solid rgba(96, 95, 107, 0.3);
  border-radius: .5rem;
  text-align: center;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: .7rem 0;
  display: inline-block;
  text-align: center;
  margin: auto; 
}