
body {
   
    font-family: sans-serif;
    background: url(a22f3bde2915bcefd31ccce2203529a7-sopov.jpeg) ;
    background-size: cover;

}


.Signup-form {
    width: 360px;
    height: 600px;
    margin-left: 35%;
    margin-top: 100px;
    background-color: darkgray;
    border-radius: 3px;
    
    

}
.Login-form{
    width: 360px;
    height: 360px;
    margin-left: 35%;
    margin-top: 150px;
    background-color: darkgray;
    border-radius: 3px;
}

h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 6px;
    outline: none;
}
button{
    width: 320px;
    height: 35px;
   margin-top: 20px;
   background-color: #4CAF50;
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
  
}
button :hover{
    background: #6d44b8;
}


p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}






